@tailwind base;
@tailwind components;
@tailwind utilities;


.contenedor-Titulo{

    @apply flex justify-center 

}

.Titulo{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @apply  text-white text-5xl py-5;

}

.Navegation{

    padding-left: 90px;
    padding-right: 90px;

    @apply flex justify-between mt-10 items-center bg-white py-5;

}
.Logo{


}


.Listado-nav{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
    @apply flex flex-row gap-20 text-2xl
}

.Active{

    color: red;
}

.Listado-nav-item{

    @apply p-3 rounded-2xl border-solid border-neutral-950 border-2

}


.Carousel{

    margin: 0 auto;
    width: 1400px;

}

.contenedor-Card{

    @apply text-white flex flex-row gap-10 bg-red-700 justify-center py-5

}

.Card{

    @apply flex flex-col max-w-xs rounded overflow-hidden shadow-lg bg-white 

}


.Contenedor-Columnas{

    
    padding-left: 90px;
    padding-right: 90px;
    
    @apply flex flex-row text-white justify-between gap-10
    
}

.Contenedor-Columnas h5{

    font-size: 18px;
    font-weight: bold;

}

.Footer-About p{


    @apply break-words
}

.Footer-Servicios li a{

    word-wrap: normal;

}

.Footer-Copyright{

    @apply flex justify-center text-white bg-color-1 py-5

}